body, html {
  height: 100%;
  text-transform: uppercase;
}

.height-fill {
  height: 100% !important;
}

.height-top-part {
  height: 80%;
}

.height-bottem-part {
  height: 20%;
}

.vertical-centre {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

  text-align: center;
}

.centre-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grad {
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
}

.btn {
  border-radius: 600px !important;
  font-family: Lato,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
  font-size: 25px !important;
  padding: 15px 45px;
  text-transform: uppercase;
  color: #f7c84c !important;
  border: 3px solid #ffffff !important;
  font-weight: 700 !important;
}

.btn:hover {
  color: #ffffff !important;
  border: 3px solid #ffffff !important;
}

.btn:active {
  color: #ffffff;
  background-color: #f3cd50;
  border: 1px solid #f3cd50;
}

.context-text {
color: #f7c84c;
font-weight: 700 !important;
font-size: 50px;
}
